
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/images/manlogo.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Admin</p>
                <a href="#"><i class="fa fa-circle"></i> Çevrimiçi</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menü</li>
            <li> <a href="/Default/Index/"> <i class="fa- fa-motorcycle"></i> <span style="color:whitesmoke">Siteye Git</span></a> </li>
            <li> <a href="/Admin/Category/Index/"> <i class="fa fa-th" style="color:lightgray"></i> <span style="color:whitesmoke">Kategoriler</span></a> </li>
            <li> <a href="/Admin/Product/Index/"> <i class="fa fa-th" style="color:lightgray"></i> <span style="color:whitesmoke">Ürünler</span></a> </li>
            <li> <a href="/Admin/FeatureSlider/Index/"> <i class="fa fa-th" style="color:lightgray"></i> <span style="color:whitesmoke">Öne Çıkan Görseller</span></a> </li>
            <li> <a href="/Admin/SpecialOffer/Index/"> <i class="fa fa-th" style="color:lightgray"></i> <span style="color:whitesmoke">Özel Teklifler</span></a> </li>
            <li> <a href="/Admin/Feature/Index/"> <i class="fa fa-th" style="color:lightgray"></i> <span style="color:whitesmoke">Öne Çıkan Alanlar</span></a> </li>
            
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
