@model UpdateProductDetailDto
<div class="tab-pane fade" id="tab-pane-2">
    <h4 class="mb-3">Ürün Bilgileri</h4>
    @if (Model != null) {
        <p>@Model.ProductInfo</p>
    } else {
        <p>Ürün bilgisi mevcut değildir.</p>
    }
    @* <div class="row">
    <div class="col-md-6">
    <ul class="list-group list-group-flush">
    <li class="list-group-item px-0">
    ÜRÜN KODU : LF2032809_Q1.V1_DN11573
    </li>
    <li class="list-group-item px-0">
    KUMAŞ ÖZELLİK : %94 Pamuk %5 Poliester %1 Likra
    </li>
    <li class="list-group-item px-0">
    Bel Tipi : High Rise
    </li>
    <li class="list-group-item px-0">
    Cep Tipi : 5 Pocket
    </li>
    </ul>
    </div>
    <div class="col-md-6">
    <ul class="list-group list-group-flush">
    <li class="list-group-item px-0">
    Cinsiyet : ERKEK
    </li>
    <li class="list-group-item px-0">
    Fit : Baggy Fit
    </li>
    <li class="list-group-item px-0">
    Paça Tipi : Normal Leg
    </li>
    <li class="list-group-item px-0">
    Tema : ESSENTIAL
    </li>
    </ul>
    </div>
    </div> *@
</div>
